<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!--输出文件路径-->
    <add key="OutPutFilesPath" value="C:\Program Files\Tecan\EVOlution for EVOlyzer 2.0\Worklist\"/>

    <!--图片路径-->
    <add key="PicturePath" value="C:\Program Files\Tecan\EVOlution for EVOlyzer 2.0\Worklist\"/>

    <!--读取excel模式 0=默认模式（OLEDB）1=NPOI-->
    <add key="GetExcelDataType" value="1"/>

    <!--读取excel起始行-->
    <add key="StartRowno" value="39"/>
    <add key="jiexiurl" value="http://10.0.0.22:56703/Drager.aspx"/>
    
    
    <add key="BedPre" value=""/>
    
    <!--设置转换PDF的服务地址-->
    <!--<add key="pdf2imgServer" value="http://10.95.31.66:8080"/>-->
    <add key="pdf2imgServer" value="http://127.0.0.1:8089"/>
    <add key="pdf2ImgParams" value="zoom_x:1.5|zoom_y:1.5|rightpix:605|upperpix:891"/>
    <add key="ExcelSavePath" value="E:\asc\PSG统计报告.xls"/>

    <!--<add key="samIdReg" value="此报告仅供临床医生参考\s*\w*"/>-->
    <!--<add key="trimword" value="doctor"/>
    <add key="samIdReg" value="\w*\s*doctor"/>  超声-->

    <!--<add key="trimword" value="Patient ID:"/>

    <add key="trimReg" value="Patient ID:"/>
    <add key="samIdReg" value="Patient ID:\s*\w*"/>-->


    <!--超声生物显微 -->
    <!--<add key="trimReg" value="此报告仅供临床医生参考\s*\d*\s*\w*\s*\d\s*"/>-->
    <!--<add key="samIdReg" value="此报告仅供临床医生参考\s*\d*\s*\w*\s*\d\s*\w*-{1}[0-9]*|此报告仅供临床医生参考\s*\d*\s*\w*\s*\d\s*\w*"/>-->

    
    <!--<add key="trimword" value="(r"/>
    <add key="samIdReg" value="(r\s*\w*"/>-->
	<!-- 去除 -->
    <add key="trimReg" value="\n"/>
    <!-- 匹配samID -->
	<add key="samIdReg" value="\nr[0-9]*"/>
    

    <add key="QCConnectionString" value="Data Source=.;Initial Catalog=clab_etyy;User ID=sa;Password=sql;min pool size=20"/>
    <!--value值配置说明（SerialNumber-仪器id;SerialNumber2-仪器id2），单台仪器value直接配置为仪器id-->
    <add key="QCDevID" value="1-10102"/>

    
    

    <!--lis系统服务地址-->
    <add key="LisServerUrl" value="http://10.9.254.58:8888/RegService.asmx"/>

    <!--流水线获取图片ftp服务器IP-->
    <add key="FtpServerIP" value="192.168.4.134"/>
    <!--流水线获取图片ftp服务器dir路径-->
    <add key="FtpDirPath" value="qs1/Host"/>
    <!--流水线获取图片ftp服务器用户-->
    <add key="FtpUserName" value="pvtftp"/>
    <!--流水线获取图片ftp服务器用户-->
    <add key="FtpPassWord" value="pvtFtp"/>
    <!--<add key="EncodingName" value="ASCII"/>-->
    <add key="EncodingName" value="ASCII"/>

  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VitalServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="OpsServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.12.210/kemr.service.pub/VitalService.asmx" binding="basicHttpBinding" bindingConfiguration="VitalServiceSoap" contract="XD_CDR_Service.VitalServiceSoap" name="VitalServiceSoap"/>
      <endpoint address="http://192.168.12.210/kemr.service.pub/OpsService.asmx" binding="basicHttpBinding" bindingConfiguration="OpsServiceSoap" contract="XD_Service.OpsServiceSoap" name="OpsServiceSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
